@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0e0113;
  color: #e6e6e8;
}

.load-more:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
